@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --base-80: rgba(98, 98, 98, 1);
  --bg: rgba(21, 21, 22, 1);
  --surface: rgba(100, 115, 254, 1);
  --text: rgba(245, 245, 245, 1);
  --web-body-regular-s-font-family: "Inter", Helvetica;
  --web-body-regular-s-font-size: 12px;
  --web-body-regular-s-font-style: normal;
  --web-body-regular-s-font-weight: 400;
  --web-body-regular-s-letter-spacing: 0px;
  --web-body-regular-s-line-height: 170.00000476837158%;
  --web-body-semibold-XL-font-family: "Inter", Helvetica;
  --web-body-semibold-XL-font-size: 18px;
  --web-body-semibold-XL-font-style: normal;
  --web-body-semibold-XL-font-weight: 600;
  --web-body-semibold-XL-letter-spacing: 0px;
  --web-body-semibold-XL-line-height: 145.00000476837158%;
}
