.custom-menubar {
    background-color: #EEEEEE; /* You can choose a different shade */
   border: none; /* Removes the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }