.custom-menubar {
    background-color: #E0E0E0; /* You can choose a different shade */
   border: none; /* Removes the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }


  .custom-menubar .p-menuitem-link {
    color: #ffffff; /* Default link color */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition effect */
  }
  
  .custom-menubar .p-menuitem-link:hover {
    color: #26A69A; /* Change the hover color here */
  }
  
  /* Additional styling for other elements */
  .p-button-text {
    color: #ffffff !important; /* Ensure button text stays white */
  }


  /* Responsive Styles */
@media (max-width: 768px) {
  .custom-menubar {
      flex-direction: column; /* Stack menu items vertically */
      padding: 10px 0; /* Add padding */
  }
  
  .custom-menubar .p-menuitem-link {
      display: block; /* Make menu items block-level */
      padding: 10px; /* Increase tappable area */
      font-size: 1.1rem; /* Increase font size for better readability */
  }

  /* Style for dropdown and button */
  .p-dropdown {
      width: 100%; /* Full width dropdown */
  }

  .p-dropdown {
    width: 100%; /* Full width dropdown */
    margin-bottom: 10px; /* Space between dropdown and button */
}

  .p-button-text {
      width: 100%; /* Full width button */
      margin-top: 10px; /* Space between dropdown and button */
  }
}